<style>
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body {
            background-color: rgb(245, 143, 41);
        }
        #Descrição {
            font-family: Arial, Helvetica, sans-serif;
        }
        .brasileiro {
            font-style: italic;
        }
        p {
            font-style: italic;
        }
        .Lista {
            font-size: large;
            font-weight: 100;
        }
        #Dedicação {
            font-size: 20px;
        }
        #Adaptabilidade {
            font-size: 18px
        }
        #Autonomia {
            font-size: 17px
        }
        #Adestramento {
            font-size: 16px
        }

    </style>